# foiacquire-related local files
/share/

# Build artifacts
target/*
dist/*

# Environment
*.bk
*.db
*.local.*
*.log
*.pdb
*.swo
*.swp
*.temp
*.tmp
*~

# Non-git hidden file patterns
.*
!.git*
!.env.example
!.jscpd.json
!.cargo/
report/
